<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>Ajouter catégorie</h1>

  <a  routerLink="/accueil" class="btn btn-primary">Retour</a>

  <form [formGroup]="categorieForm" (ngSubmit)="onCategoriesubmit()">

    <div class="form-group">
      <label for="title">Titre:</label>
      <input formControlName="titre" id="titre" type="text" class="form-control">
      <div *ngIf="f['titre'].touched && f['titre'].invalid" class="alert alert-danger">
        <div *ngIf="f['titre'].errors && f['title'].errors['required']">Veuillez ajouter le titre .</div>
      </div>
    </div>

    <div class="form-group">
      <label for="body">Description</label>
      <textarea formControlName="description" id="description" type="text" class="form-control">
          </textarea>
      <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger">
        <div *ngIf="f['description'].errors && f['description'].errors['required']">veuillez ajouter la description.
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!categorieForm.valid">Valider</button>
  </form>
</div>